[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
drf-nested-routers = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
django-filter = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
django-storages = "*"
psycopg2 = "*"
environs = "*"
django-cors-headers = "*"
django-on-heroku = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
