[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
drf-nested-routers = "*"
django-extensions = "*"
pyparsing = "*"
pydot = "*"
djangorestframework-simplejwt = "*"
djoser = "*"

[dev-packages]

[requires]
python_version = "3.10"
